html,body {
    width: 100%;
    height: 100%;
}
.block-form-horizontal .shapka {
    background-color: silver;
    font-size: larger;
    height: 32px;
    line-height: 32px;
    margin-top: 0px;
}
.block-form-horizontal .shapka .button-krest{
    display: inline-block;
    height: 18px;
    margin: 7px;
    width: 18px;
}
.block-form-horizontal h4 {
    text-align: center;
}
.bady-block {
    padding: 0.5em 1.5em;
}
.block-redact-kontakt {
    display: none;
}
.block-form, .block-redact {
    background-color: white;
    border-radius: 0.5em;
    border: solid thin silver;
    left: 40%;
    position: absolute;
    top: 0;
}
.block-form-add-contact, .block-form-redact, .block-statistic {
    background-color: white;
    display: none;
    left: 40%;
    top: 0px;
    position: absolute;
}
.btn-block .btn-danger {
    margin-left: 5px;
}
.down-arrow {
    display: inline;
}
.desc .down-arrow {
    display: none;
}
.desc .up-arrow {
    display: inline;
}
.edd-block-form-horizontal, .block-form-horizontal-redact{
    border-radius: 0.5em;
    border: solid thin silver;
    width: 300px;
}
.shapka h4 {
    display: inline-block;
    margin: 0px;
}
.show-contacts{
    height: 80%;
    margin-top: 1em;
    overflow: auto;
}
.show-contacts thead tr{
    font-size: smaller;
}
.form-horizontal {
    padding: 0.5em 1.5em;
}
.up-arrow {
    display: none;
}





